.DS_Store
**.ipynb
**.txt
*.parquet
.idea
*.tfstate
*.tfstate.*
*.tfvars
**/.terraform/*
**.terraform
**.terraform.lock.*
**google_credentials.json
**.log
**logs/
**.env
**__pycache__/
.history
**/pg_data/*
.ipynb_checkpoints/
**.gitignore
**.pages
**.json


